<!DOCTYPE html>
<html lang="en">
<head>
  <title>Batches</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<br>
  <h3 align="center">All Running Batch List</h3><br />
  <h6 align="right">
      <a href="{% url 'feedback' %}"><button type="button" class="btn btn-primary">Feedback</button></a>
      <a href="{% url 'completed-batch-list' %}"><button type="button" class="btn btn-success">Completed Batches</button></a>
  </h6><br>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Index</th>
        <th>Batch Code</th>
        <th>Batch Name</th>
        <th>Batch Timing</th>
        <th>Batch Start Date</th>
        <th>Expected End Date</th>
        <th>Batch Status</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      {% for i in batch %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td><a href="{% url 'student-list' i.id %}">{{i.batch_id}}</a></td>
        <td><b>{{i.batch_name}}</b></td>
        <td>{{i.start_time}} - {{i.end_time}}</td>
        <td>{{i.batch_start_date}}</td>
        <td>{{i.batch_end_date}}</td>
        <td><b>Running</b></td>
        <td><a href="{% url 'student-list' i.id %}">More</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
